@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import '../../styles/theme.css' layer(theme);

#field-photos {
  .upload-field-card {
    background-color: #ffffff;
    .upload-relationship-details__details {
      display: none;
    }
  }

  .upload-field-card {
    position: relative;
    padding: 0;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 0;
  }
  .upload--has-many__draggable-rows {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .upload-relationship-details__actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  .upload--has-many__drag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 0.5rem;
    svg {
      width: 24px;
      height: 24px;
      color: #000;
    }
  }

  .upload-relationship-details {
    align-items: start;
    position: relative;
  }
  .upload-relationship-details__imageAndDetails {
    position: relative;
    width: 180px;
    height: 180px;
  }
}

#field-photos
  .upload-field-card
  .thumbnail.thumbnail--size-small.upload-relationship-details__thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
